<div class="fluent-media-box shadow-sm mb-3" data-aos="fade-up" data-aos-delay="@AnimationDelay">
	<div class="fluent-icon-container @Style">
		<i class="@Icon" aria-hidden="true"></i>
	</div>
	<div class="fluent-media-content">
		<h5 class="fluent-media-title">
			<a href="@Link" target="_blank" class="fluent-link">@Title</a>
		</h5>
		<p class="fluent-media-text">@ChildContent</p>
	</div>
</div>

@code {
	[Parameter] public string Style { get; set; }
	[Parameter] public string Icon { get; set; }
	[Parameter] public string Title { get; set; }
    [Parameter] public string Link { get; set; }
	[Parameter] public int AnimationDelay { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }
}