@inject IOptions<SiteOption> SiteOption

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <Logo/>
                <div class="desc">@SiteOption.Value.Memo</div>
            </div>
            <div class="col-12 col-md">
                <div class="row">
                    <div class="col-6 col-md" style="margin-top:1rem;">
                        <h5 class="mb-4 text-white">站点</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="/donation">赞助</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="/timeline">时间线</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="/rss" target="_blank">RSS</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="/sitemap.xml" target="_blank">站点地图</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="/about">关于</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md" style="margin-top:1rem;">
                        <h5 class="mb-4 text-white">工具资源</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://it-tools.tech/" target="_blank">IT-Tools</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="https://www.cnblogs.com/Dotnet9-com/" target="_blank">博客园</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="https://space.bilibili.com/470546606" target="_blank">B站</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://www.toutiao.com/c/user/98075192460/#mid=1651788205627396" target="_blank">今日头条</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="https://github.com/dotnet9/" target="_blank">Github</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md" style="margin-top:1rem;">
                        <h5 class="mb-4 text-white">社区资源</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="https://irihi.tech/" target="_blank">铱泓科技</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="http://known.org.cn/" target="_blank">Known</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="https://antblazor.com" target="_blank">Ant Design Blazor</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right" />
                                <a class="text-muted" href="https://masastack.com/" target="_blank">Masa</a>
                            </li>
                            <li>
                                <i class="fas fa-angle-right"/>
                                <a class="text-muted" href="https://www.youtube.com/channel/UCbkbOlw8snP93RJ2BhH44Qw" target="_blank">Murat Yücedağ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md" style="margin-top:1rem;">
                        <div class="qrcode">
                            <img src="@SiteOption.Value.WeChatImg" width="180" alt="@SiteOption.Value.WeChatName"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span>©@SiteOption.Value.StartYear-@DateTime.Now.Year @SiteOption.Value.Owner</span>
            <a class="text-muted" target="_blank" href="https://beian.miit.gov.cn">@SiteOption.Value.BaiAn</a>
        </div>
    </div>
</footer>