@inject NavigationManager Navigation
@inject AppService AppService

<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top @NavClass">
    <div class="container">
        <Logo/>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li>
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item@(IsActive("/doc") ? " active" : "")">
                    <a class="nav-link" href="/doc">项目</a>
                </li>
                <li class="nav-item@(IsActive("/tools") ? " active" : "")">
                    <a class="nav-link" href="/tool">工具</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/bbs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">专辑</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (_albumItems?.Any() == true)
                        {
                            @foreach (var album in _albumItems)
                            {
                                <a class="dropdown-item" href="@ConstantUtil.GetBbsAlbumUrl(album.Slug)">
                                    @album.Name
                                </a>
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/bbs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分类</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (_categoryItems?.Any() == true)
                        {
                            @foreach (var cat in _categoryItems)
                            {
                                <a class="dropdown-item" href="@ConstantUtil.GetBbsCategoryUrl(cat.Slug)">
                                    @cat.Name
                                </a>
                            }
                        }
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="https://github.com/dotnet9/Assets.Dotnet9" target="_blank">投稿</a>
                </li>
                <li>
                    <a class="nav-link" href="https://github.com/dotnet9/CodeWF/issues" target="_blank">Bug反馈</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">关于</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/donation">赞助</a>
                        <a class="dropdown-item" href="https://www.cnblogs.com/Dotnet9-com" target="_blank">博客园</a>
                        <a class="dropdown-item" href="https://space.bilibili.com/470546606" target="_blank">B站</a>
                        <a class="dropdown-item" href="/timeline">时间线</a>
                        <a class="dropdown-item" href="/rss">RSS</a>
                        <a class="dropdown-item" href="/sitemap.xml">站点地图</a>
                        <a class="dropdown-item" href="/about">关于</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item">
                    <SearchBox/>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private string NavClass => IsIndex ? "index-nav" : DarkNavClass;
    public const string DarkNavClass = "bg-white navbar-light shadow-sm scrollednav";

    private List<AlbumItem>? _albumItems;
    private List<CategoryItem>? _categoryItems;

    [Parameter] public bool IsIndex { get; set; }


    protected override async Task OnInitializedAsync()
    {
        _albumItems = await AppService.GetAllAlbumItemsAsync();
        _categoryItems = await AppService.GetAllCategoryItemsAsync();
    }

    private bool IsActive(string code)
    {
        var uri = Navigation.Uri.Replace(Navigation.BaseUri, "/");
        return uri.StartsWith(code);
    }

}