@inherits BaseComponent

<div class="cl-reply">
    <div class="author">
        <AntAvatar Src="@Item.Author?.AvatarUrl" />
        <span>@Item.Author?.Name</span>
    </div>
    <div class="content">@CmsUtils.GetMarkdownHtml(Item.Content)</div>
    <div class="counts">
        <span class="time">@Item.ReplyTime.ToString("yyyy-MM-dd HH:mm")</span>
        <span style="margin:0 5px;">|</span>
        <span class="like"><i class="far fa-thumbs-up" /> @Item.LikeQty</span>
    </div>
</div>

@code {
    [Parameter] public ReplyListInfo Item { get; set; }
}