@page "/timeline"

@inherits BaseComponent
@inject AppService AppService
@inject IOptions<SiteOption> SiteOption

<PageTitle>时间线 - @SiteOption.Value.AppTitle</PageTitle>

<div class="container cl-container cl-post">
    <div>
        <div id="@_mdId">
            <CmsCard>
                <HeadTemplate>
                    <WechatPublicLink />
                </HeadTemplate>
                <ChildContent>
                    <div class="title">时间线</div>
                    <div id="toc">
                        <div>
                            <a class="item-title" href="@GetTopLink()" title="时间线">时间线</a>
                        </div>
                    </div>
                    <div>
                        @if (_items?.Any() == true)
                        {
                            foreach (var item in _items)
                            {
                                <h2>@item.Time?.ToString("yyyy-MM-dd")</h2>
                                <h3>@item.Title</h3>
                                <p>@item.Content</p>
                            }
                        }
                        else
                        {
                            <AntEmpty/>
                        }
                    </div>

                </ChildContent>
            </CmsCard>
        </div>
        <div style="height:20px;"></div>
    </div>
    <div>
        <UWebSiteCount/>
        <div style="height: 20px;"></div>
        <UPostRank/>
    </div>
</div>

<script>
    $(getTOC('@_mdId'));
</script>

@code
{
    Guid _mdId = Guid.NewGuid();
    string GetTopLink() => Navigation.GetPageUrl().Split('#')[0] + '#' + _mdId;

    private List<TimeLineItem>? _items;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        _items = await AppService.GetTimeLineItemsAsync();
    }
}