<div style="position: relative">
    <img src="https://cdn.masastack.com/images/footer.png"
         class="mb-n2"
         style="width: 100vw"
         alt="footer"/>
    <MFooter Color="#4318ff" Dark Padless>
        <MRow NoGutters Class="footer-content">
            <MCol Class="map" Cols="12" Md="7">
                <MCard Color="transparent" Flat Dark
                       Class="footer-content__item footer-content__map">
                    <MCardTitle>网站地图</MCardTitle>
                    <MCardText>
                        <MRow>
                            <MCol Cols="3" class="map-item">
                                <div class="map-item__title">
                                    <span class="prefix"></span> 资源
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a>
                                    </li>
                                    <li>
                                        <a href="https://masastack.com/blazor" target="_blank">MASA Blazor</a>
                                    </li>
                                    <li>
                                        <a href="https://antblazor.com/" target="_blank">Ant Design of Blazor</a>
                                    </li>
                                    <li>
                                        <a href="https://avaloniaui.net/" target="_blank">Avalonia UI</a>
                                    </li>
                                    <li>
                                        <a href="https://www.bilibili.com/" target="_blank">B站</a>
                                    </li>
                                    <li>
                                        <a href="https://youtube.com/" target="_blank">油管</a>
                                    </li>
                                </ul>
                            </MCol>
                            <MCol Cols="3" class="map-item">
                                <div class="map-item__title">
                                    <span class="prefix"></span>社区
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://blog.lindexi.com/" target="_blank">林德熙</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youzack.com/" target="_blank">YouZack</a>
                                    </li>
                                    <li>
                                        <a href="https://wtmdoc.walkingtec.cn/" target="_blank">WTM</a>
                                    </li>
                                    <li>
                                        <a href="http://www.volcore.xyz/" target="_blank">VOL开发框架</a>
                                    </li>
                                    <li>
                                        <a href="https://www.okay123.top/" target="_blank">可乐不加冰</a>
                                    </li>
                                </ul>
                            </MCol>
                            <MCol Cols="3" class="map-item">
                                <div class="map-item__title">
                                    <span class="prefix"></span>社区
                                </div>
                                <ul>
                                    <li>
                                        <a href="http://randyfield.cn/" target="_blank">Garfield-加菲的博客</a>
                                    </li>
                                    <li>
                                        <a href="https://furion.net/" target="_blank">Furion</a>
                                    </li>
                                    <li>
                                        <a href="https://ldqk.xyz/" target="_blank">懒得勤快</a>
                                    </li>
                                    <li>
                                        <a href="https://www.52abp.com/" target="_blank">52ABP框架</a>
                                    </li>
                                    <li>
                                        <a href="https://blog.csdn.net/kebi007" target="_blank">dotnet全栈开发</a>
                                    </li>
                                </ul>
                            </MCol>
                            <MCol Cols="3" class="map-item">
                                <div class="map-item__title">
                                    <span class="prefix"></span>社区
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://token-ai.cn/" target="_blank">TokenBlog</a>
                                    </li>
                                    <li>
                                        <a href="http://www.hzhcontrols.com/" target="_blank">HZHControls</a>
                                    </li>
                                    <li>
                                        <a href="https://blog.sblt.deali.cn:9000/" target="_blank">程序设计实验室</a>
                                    </li>
                                    <li>
                                        <a href="https://jhrs.com/" target="_blank">江湖人士</a>
                                    </li>
                                    <li>
                                        <a href="https://znlive.com/" target="_blank">Coding Life</a>
                                    </li>
                                </ul>
                            </MCol>
                        </MRow>

                    </MCardText>
                </MCard>
            </MCol>

            <MCol Cols="12" OffsetMd="2" Md="3">
                <MRow NoGutters>
                    <MCol Cols="12">
                        <MCard Color="transparent" Flat Dark Class="footer-content__item business">
                            <MCardTitle>技术交流</MCardTitle>
                            <MCardText Class="contacts">
                                <div class="contact-item">
                                    <MIcon Dark Class="mr-3">mdi-email</MIcon>
                                    <a href="mailto:632871194@qq.com">632871194@qq.com</a>
                                </div>
                            </MCardText>
                        </MCard>
                    </MCol>
                    <MCol Cols="12">
                        <MCard Color="transparent" Flat Dark Class="footer-content__item footer-content__focus">
                            <MCardTitle>关注我们</MCardTitle>
                            <MCardText>
                                <MInteractiveTriggers Class="d-inline"
                                                      QueryName="@nameof(FollowUs)"
                                                      QueryValue="@FollowUs"
                                                      InteractiveValue="@(new[] { "wechat", "qq" })"
                                                      InteractiveComponentType="typeof(FollowUsBtn)"
                                                      InteractiveComponentParameters="@FollowUsParameters">
                                    <MButton Outlined
                                             Icon
                                             Color="white"
                                             Class="follow-us-icon mr-9">
                                        <MIcon>@(context == "wechat" ? "mdi-wechat" : "mdi-qqchat")</MIcon>
                                    </MButton>
                                </MInteractiveTriggers>

                                <MButton Class="follow-us-icon"
                                         Outlined
                                         Icon
                                         Color="white"
                                         Href="https://space.bilibili.com/470546606"
                                         Target="_blank">
                                    <img class="cover"
                                         src="https://cdn.masastack.com/images/bilibili.png"
                                         alt="bilibili"/>
                                </MButton>
                            </MCardText>
                        </MCard>
                    </MCol>
                </MRow>
            </MCol>
            <MCol Cols="12" Class="footer-content__logo">
                <img src="https://img1.dotnet9.com/site/logo.png"
                     width="60"
                     alt="logo"
                     class="hidden-sm-and-down"/>
                <div>码界工坊 - <a class="text-decoration-none white--text" href="https://beian.miit.gov.cn" target="_blank">蜀ICP备19038256号-1</a></div>
            </MCol>
        </MRow>
    </MFooter>
</div>

@code {

    [SupplyParameterFromQuery] private string? FollowUs { get; set; }


    private Dictionary<string, object> FollowUsParameters => new()
    {
        { nameof(FollowUsBtn.Image), FollowUs == "wechat" ? "https://img1.dotnet9.com/site/wechatpublic.jpg" : "https://img1.dotnet9.com/site/qqgoup1.png" },
        { nameof(FollowUsBtn.Class), FollowUs }
    };

}