@{
    var appInfo = AppConfig.Info(Context.Request);
    var menus = appInfo.Menus;
}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #5a23c8;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">@appInfo.Title</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@menus[MenuType.Blog].Url">@menus[MenuType.Blog].Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@menus[MenuType.VueTool].Url">@menus[MenuType.VueTool].Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@menus[MenuType.BlazorTool].Url">@menus[MenuType.BlazorTool].Title</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>